<div class="container3">
    <div class="box">
        <h1>Informações de Contato</h1>
        <h2>Nosso consultório está à disposição 24h por dia em todos os dias úteis</h2>
        <p>
            Por meio de telefones e redes sociais estaremos disponíveis para auxiliá-los. Abaixo, informaremos os
            meios que você, nosso paciente, pode nos comunicar caso necessário.
        </p>
        <h1>Telefones</h1>
        <h2>Recepção</h2>
        <p>(11) 98228-7484</p>
        <p>(11) 98277-7722</p>
        <p>(11) 98226-9282</p>

        <h1>Redes Sociais</h1>


        <footer>
            <h2>Aqui você pode nos encontrar nas redes sociais:</h2>
            <div id="footer-midia"></div>
            <a href="https://wa.me/551142939080" class="whatsapp" id="wpp">WHATSAPP CLINICA <i
                    class="fab fa-whatsapp"></i></a>
            <br><br>
            <a href="https://www.instagram.com/uninoveoficial/" class="instagram" id="insta">INSTAGRAM CUIDAR BEM <i
                    class="fab fa-instagram"></i></a>

        </footer>
    </div>
</div>