<header>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a routerLink="/home">
          <img src="/img/Logo.svg" alt="Logo Site">
        </a>
  
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a class="nav-link active text-color" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-color" routerLink="/sobre-">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-color" routerLink="/contatos">Contatos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-color" routerLink="/agendamento">Agendamento</a>
          </li>
          <li class="nav-item">
            <a routerLink="/registro">
              <button type="button" class="btn btn-outline-success">Registro</button>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/login">
              <button type="button" class="btn btn-outline-success">Login</button>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

<div class="container3">
    <div class="box">
        <h1>Consultório Cuidar Bem</h1>
        
        <h2>Seja Bem Vindo ao Consultório Cuidar Bem: Cuidando da Sua Saúde com Qualidade e Conveniência</h2>
        <p>
            Felizes em recebê-lo no Consultório Cuidar Bem, o seu espaço de confiança para cuidados de saúde de alta
            qualidade e agendamento de consultas. No Consultório Cuidar Bem, temos o compromisso de cuidar da sua
            saúde e bem-estar com excelência, tornando o acesso a serviços de saúde de qualidade mais acessível e
            conveniente para você.
        </p>
        <h3>Quem Somos?</h3>
        <p>
            O Consultório Cuidar Bem se dedica não apenas a fornecer serviços de saúde de primeira classe, mas
            também a capacitar a próxima geração de profissionais de saúde. Nossa equipe é composta por
            profissionais altamente capacitados e apaixonados por proporcionar atendimento de qualidade. Combinamos
            nossa experiência com o entusiasmo e a dedicação de estudantes que estão em formação, sempre sob a
            supervisão cuidadosa de instrutores experientes.
        </p>
        <h3>Nossos Serviços</h3>
        <p>
            Oferecemos uma ampla gama de serviços de saúde para atender às suas necessidades. Seja qual for o
            cuidado que você precisa, estamos aqui para ajudar. Nossos serviços incluem:
        </p>
        <ul>
            <li>Atendimento Médico Geral: Cuide da sua saúde física com nossos médicos experientes, que realizam
                desde check-ups de rotina até o tratamento de condições médicas diversas.</li>
            <li>Nutrição: Nossos nutricionistas ajudam você a alcançar seus objetivos de saúde e peso através de
                orientação personalizada sobre alimentação saudável.</li>
            <li>E outros serviços como vacinação, encaminhamento médico, acompanhamento médico.</li>
        </ul>
        <h3>Por Que Escolher o Consultório Cuidar Bem?</h3>
        <p>
            Profissional: Nossa equipe é formada por profissionais experientes e estudantes dedicados, todos
            comprometidos com a prestação de cuidados de saúde excepcionais.
        </p>
        <ul>
            <li>Preços Acessíveis: Nossa missão é tornar o acesso a cuidados de saúde de qualidade acessível a
                todos, sem comprometer a excelência do atendimento.</li>
            <li>Aprendizado Prático: Ao escolher o Consultório Cuidar Bem, você está apoiando a formação prática e a
                capacitação de futuros líderes na área da saúde.</li>
            <li>Atendimento Personalizado: Reconhecemos que cada paciente é único, e adaptamos nosso cuidado às suas
                necessidades individuais.</li>
            <li>Localização Conveniente: Estamos convenientemente localizados no centro da cidade, facilitando o
                acesso aos nossos serviços.</li>
        </ul>
        <h3>Agende Sua Consulta!</h3>
    </div>
</div>
<div class="container">
<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="hover-item"><a href="https://www.facebook.com/uninoveoficial/"><i
                    class="fa-brands fa-facebook-f fa-2xl"></i></a></li>
        <li class="hover-item"><a href="https://www.instagram.com/uninoveoficial/"><i
                    class="fa-brands fa-instagram fa-2xl"></i></a></li>
        <li class="hover-item"><a href="https://twitter.com/uninoveoficial"><i
                    class="fa-brands fa-x-twitter fa-2xl"></i></a></li>
        <li class="hover-item"><a href="https://www.youtube.com/@uninove"><i
                    class="fa-brands fa-youtube fa-2xl"></i></a><br></li>

    </ul>
    <p class="text-center text-muted">© 2023 Uninove, Inc</p>
</footer>
</div>
