<h1>Agendamento De Consulta</h1>
    <div class="back-button">
    <a href="index.html">&larr; Voltar para o Início</a>
</div>
    <form action="processar_registro.php" method="post" onsubmit="return validarData()">
        <label for="nome">Nome Do Paciente:</label>
        <input type="text" id="nome" name="nome" required><br>
        <label for="data">Data Da Consulta</label>
        <input type="date" id="data" name="data" required><br>
        <label for="horario">Selecione O Horário Da Consulta:</label>
        <select id="horario" name="horario" required>
            <option value="08:30">08:30</option>
            <option value="09:00">09:00</option>
            <option value="09:30">09:30</option>
            <option value="10:00">10:00</option>
            <option value="10:30">10:30</option>
            <option value="11:00">11:00</option>
            <option value="11:30">11:30</option>
            <option value="12:00">12:00</option>
            <option value="12:30">12:30</option>
            <option value="13:00">13:00</option>
            <option value="13:30">13:30</option>
            <option value="14:00">14:00</option>
            <option value="14:30">14:30</option>
            <option value="15:00">15:00</option>
            <option value="15:30">15:30</option>
            <option value="16:00">16:00</option>
            <option value="16:30">16:30</option>
        </select>
        <br><br>
        <label for="Doutor">Dr(a):</label>
        <select id="Doutor" name="Doutor">
            <option value="Dr1">Doutor Paulo Andrade</option>
            <option value="Dr2">Doutora Adriana Nascimento</option>
        </select>
        <br><br>
        <label for="servico">Selecione o tipo de serviço:</label>
        <select id="servico" name="servico" required>
            <option value="consultas-rotina">Consultas de Rotina</option>
            <option value="consultas-rotina">Consultas de Rotina</option>
            <option value="vacinas">Vacinação</option>
            <option value="tratamento doenças">Tratamento de Doenças e Infecções</option>
            <option value="aconselhamento-nutricional">Aconselhamento Nutricional</option>
            <option value="avaliacao-desenvolvimento">Avaliação do Desenvolvimento</option>
            <option value="aconselhamento-comportamental">Aconselhamento de Saúde Comportamental</option>
            <option value="avaliacao-alergias">Avaliação de Alergias e Doenças Crônicas</option>
            <option value="cuidados-preventivos">Cuidados de Saúde Preventiva</option>
            <option value="encaminhamentos-especializados">Encaminhamentos Especializados</option>
        </select>
        <br><br>
        <input type="submit" value="Agendar">
    </form>