<div class="container">
    <div class="box">
        <h2>Realize Seu Login</h2>
        <form action="processar_login.php" method="post">
            <table>
                <tr>
                    <td><label for="login">CPF:</label></td>
                    <td><input type="text" id="login" name="login" required></td>
                </tr>
                <tr>
                    <td><label for="senha">Senha:</label></td>
                    <td><input type="password" id="senha" name="senha" required></td>
                </tr>
            </table>

            <input type="submit" value="Login">
        </form>

        <p>Não tem uma conta? <a href="registro.html">Registre-se</a></p>
    </div>
</div>

