<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img/img-top.svg" class="d-block w-100" alt="...">
        </div>


    </div>
</div>
<br>
<p class="texto-1">Na Cuidar Bem, acreditamos que o cuidado é a essência da medicina. Estamos dedicados a oferecer
    um atendimento médico de excelência com o compromisso de cuidar de você e de sua saúde da melhor maneira
    possível.
    Nossa equipe de profissionais altamente qualificados e apaixonados está aqui para ajudá-lo em todas as suas
    necessidades de saúde. Com uma abordagem centrada no paciente, nossa missão é fornecer cuidados personalizados,
    atenciosos e abrangentes para garantir o seu bem-estar a longo prazo.</p><br>

<p class="texto-2">Explore nosso site para conhecer mais sobre nossos serviços, nossa equipe e nossos valores. Fique
    à vontade para agendar sua consulta conosco e dar o primeiro passo em direção a uma vida mais saudável e feliz.

    Estamos comprometidos em cuidar de você da melhor forma possível. Sua saúde está em boas mãos na Cuidar Bem.
    Juntos, podemos trilhar o caminho para uma vida mais saudável e plena.</p>

<a href="/registro" class="registro"><span>Registre-se já para ficar por dentro das
        novidades.</span></a>