<header>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a routerLink="/home">
                <img src="assets/img/cuidarlg.svg" alt="Logo Site">
            </a>

            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link active text-color" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-color" routerLink="/sobre">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-color" routerLink="/contatos">Contatos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-color" routerLink="/user">Usuario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-color" routerLink="/agendamento">Agendamento</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/registro">
                        <button type="button" class="btn btn-outline-success">Registro</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/login">
                        <button type="button" class="btn btn-outline-success" routerLink="/login">Login</button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
