<div class="container">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="hover-item"><a href="https://www.facebook.com/uninoveoficial/"><i
                        class="fa-brands fa-facebook-f fa-2xl"></i></a></li>
            <li class="hover-item"><a href="https://www.instagram.com/uninoveoficial/"><i
                        class="fa-brands fa-instagram fa-2xl"></i></a></li>
            <li class="hover-item"><a href="https://twitter.com/uninoveoficial"><i
                        class="fa-brands fa-x-twitter fa-2xl"></i></a></li>
            <li class="hover-item"><a href="https://www.youtube.com/@uninove"><i
                        class="fa-brands fa-youtube fa-2xl"></i></a><br></li>

        </ul>
        <p class="text-center text-muted">© 2023 Uninove, Inc</p>
    </footer>
</div>